{
  "apps" : [

    {
      "name": "geogw-web",
      "script": "server.js",
      "exec_mode": "cluster",
      "instances": 2,
      "env": {
        "COOKIE_SECRET": "foobar",
        "MONGODB_URL": "mongodb://localhost/geogw-dev",
        "REDIS_HOST": "localhost",
        "REDIS_PORT": 6379,
        "PORT": 5000,
        "GML_CONSIDER_EPSG_AS_URN": "YES",
        "KUE_PREFIX": "q",
        "DATAGOUV_URL": "https://demo.data.gouv.fr",
        "DATAGOUV_CLIENT_ID": "",
        "DATAGOUV_CLIENT_SECRET": "",
        "DATAGOUV_CB_URL": "http://localhost:5000/dgv/oauth/callback",
        "ROOT_URL": "http://localhost:5000"
      },
      "env_production" : {
        "NODE_ENV": "production"
      }
    }

    {
      "name": "geogw-worker",
      "script": "worker.js",
      "exec_mode": "cluster",
      "instances": 2,
      "env": {
        "MONGODB_URL": "mongodb://localhost/geogw-dev",
        "REDIS_HOST": "localhost",
        "REDIS_PORT": 6379,
        "HTTP_AGENT_NAME": "GeoGw 0.1",
        "KUE_PREFIX": "q",
        "DATAGOUV_URL": "https://demo.data.gouv.fr",
        "ROOT_URL": "http://localhost:5000"
      },
      "env_production" : {
        "NODE_ENV": "production"
      }
    },

  ]
}
