doctype html
html(lang="fr", ng-app="mainApp")
  head
    title Passerelle Inspire Open Data
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/css/main.css")
    script(src="//code.angularjs.org/1.3.0-beta.9/angular.min.js")
    script(src="//code.angularjs.org/1.3.0-beta.9/angular-route.min.js")
    script(src="//code.angularjs.org/1.3.0-beta.9/i18n/angular-locale_fr-fr.js")
    script(src="/js/main.js")

  body
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") Passerelle Inspire Open Data
          p.navbar-text Version 0.1-pre
          
        .navbar-right
          ul.nav.navbar-nav
            li: a(href="/logout") Déconnexion

    .container-fluid(ng-view)
