<ol class="breadcrumb">
  <li>Accueil</li>
  <li class="active">Services</li>
</ol>

<div class="alert alert-info">
  Choisissez un type de service :
  <div class="btn-group">
    <a href="/services/by-protocol/csw" class="btn btn-default" ng-class="{ active: protocol === 'csw' }">CSW</a>
    <a href="/services/by-protocol/wfs" class="btn btn-default" ng-class="{ active: protocol === 'wfs' }">WFS</a>
    <a href="/services/by-protocol/wms" class="btn btn-default" ng-class="{ active: protocol === 'wms' }">WMS</a>
  </div>
</div>

<table class="table table-hover">
  <tr ng-repeat="service in services">
    <td class="vert" style="width:70px"><span class="label" ng-class="{ 'label-warning': service.protocol === 'csw', 'label-success': service.protocol === 'wfs', 'label-info': service.protocol === 'wms' }">{{ service.protocol | uppercase }}</span></td>
    <td class="vert">
      <a href="/services/{{ service._id }}/datasets">{{ service.name }}</a>
      <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 500px"><em>{{ service.location }}</em></div>
    </td>
    <td class="vert" style="width:30px">
      <i ng-if="service.lastSync" ng-class="{ 'fa-refresh': service.lastSync.status === 'processing', 'fa-spin': service.lastSync.status === 'processing', 'fa-history': service.lastSync.status === 'queued' }" class="fa"></i>
    </div>
    <td class="vert" style="font-size: 85%; width: 280px">
      <div ng-if="service.lastSuccessfulSync.itemsFound">Entrées : <strong>{{ service.lastSuccessfulSync.itemsFound | number }}</strong></div>
      <div ng-if="service.lastSync">
        État de la synchronisation :
        <span style="color: green" ng-show="service.lastSync.status === 'successful'">OK</span>
        <span style="color: purple" ng-show="service.lastSync.status === 'queued'">En attente</span>
        <span style="color: orange" ng-show="service.lastSync.status === 'processing'">En cours</span>
        <span style="color: red" ng-show="service.lastSync.status === 'failed'">Erreur</span>
      </div>
      <div ng-if="service.lastSuccessfulSync">Dernier succès : <em>{{ service.lastSuccessfulSync.finished | timeago }}</em></div>
    </td>
    <td class="vert">
        <a style="cursor: pointer" ng-show="canBeSynced(service)" ng-click="syncService(service)">Synchroniser</a>
    </td>
  </tr>
</table>
