<ol class="breadcrumb">
  <li>Accueil</li>
  <li class="active">Services</li>
</ol>

<table class="table table-hover">
  <tr ng-repeat="service in services">
    <td class="vert" style="width:70px"><span class="label label-warning">{{ service.protocol | uppercase }}</span></td>
    <td class="vert">
      <a href="/services/{{ service._id }}/datasets">{{ service.name }}</a>
      <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 500px"><em>{{ service.location }}</em></div>
    </td>
    <td class="vert" style="width:30px">
      <i ng-class="{ 'fa-refresh': service.harvesting.state === 'processing', 'fa-spin': service.harvesting.state === 'processing', 'fa-history': service.harvesting.state === 'queued' }" class="fa"></i>
    </div>
    <td class="vert" style="font-size: 85%; width: 280px">
      <div ng-if="service.items">Entrées : <strong>{{ service.items | number }}</strong></div>
      </div>
        État du moissonnage :
        <span style="color: green" ng-if="service.harvesting.state === 'idle'">OK</span>
        <span style="color: purple" ng-if="service.harvesting.state === 'queued'">En attente</span>
        <span style="color: orange" ng-if="service.harvesting.state === 'processing'">En cours</span>
        <span style="color: red" ng-if="service.harvesting.state === 'error'">Erreur</span>
      </div>
      <div ng-if="service.harvesting.lastDuration">Dernière durée : <em>{{ service.harvesting.lastDuration | duration }}</em></div>
      <div ng-if="service.harvesting.lastSuccessful">Dernier succès : <em>{{ service.harvesting.lastSuccessful | timeago }}</em></div>
    </td>
    <td class="vert" ng-if="session.loggedIn">
        <a style="cursor: pointer" ng-if="service.harvesting.state === 'idle'" ng-click="harvest(service)">Moissonner</a>
    </td>
  </tr>
</table>

<div ng-if="session.loggedIn">
  <button ng-click="initNewService()" ng-if="!newService" class="btn btn-primary">
      <i class="fa fa-plus"></i> Ajouter un nouveau service
  </button>

  <div ng-if="newService" class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label>Adresse du service</label>
        <input type="text" ng-model="newService.location" placeholder="http://monserviceogc.monterritoire.fr/ows" class="form-control">
      </div>
      <div class="form-group">
        <label>Nom du service</label>
        <input type="text" ng-model="newService.name" placeholder="Service CSW du canton de ..." class="form-control">
      </div>
      <button ng-click="saveNewService()" class="btn btn-primary">Valider</button>
    </div>
  </div>
</div>
